.main-admin {
  width: 100%;
  min-height: 300vh;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}


.lista-productos {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.lista-boton {
  width: 80px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-style: none;
}
