.main-login {
  width: 100%;
  height: 50vh;
}

.login-box {
  padding: auto;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 30px;
  margin: 40px;
  letter-spacing: 4px;
}

.email,
.contraseña {
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;

}


.ingresar,
.forget {
  padding: 2%;
  display: flex;
  justify-content: center;
}

.forget {
 font-size: 11px;
    color: blue;
}

