.main-login {
  width: 100%;
  height: 40vh;
}

.container--form__olviMiContra {
  display: flex;
  align-items: center;
  gap: 5%;
  margin-bottom: 10%;
}

.linkOlviMiContra {
  display: flex;
  align-items: center;
  margin-left: 20%;
  color: var(--secondary-solid);
}
